# Frontend Environment Variables
VITE_API_BASE_URL=

# Backend Environment Variables - Docker Compose Development
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# PgAdmin Configuration
PGADMIN_EMAIL=
PGADMIN_PASSWORD=

# Application Configuration
SECRET_KEY=
JWT_SECRET=

# Set Environment development or production
ENV=

# Set Frontend URL
FRONTEND_URL=

# Set DEV Backend URL
DEV_URL_1=
DEV_URL_2=

# Set Redis Host and Port
REDIS_HOST=
REDIS_PORT=