<table style="width:100%;">
    <tbody>
        <tr>
            <th style="width: 100%; text-align: center; padding-top: -5%;"><img src="https://wbscc.wb.gov.in/assets/front_end/img/biswa-bangla.png" title="BB Logo" height="70" width="70"/></th>
        </tr>
        <tr>
            <th style="width: 100%; text-align: center; font-size: 30px; color: #025C31">NOC Application</th>
        </tr>
        <tr>
            <th style="width: 100%; text-align: center; font-size: 20px; color: #135E9B">Application Details</th>
        </tr>
    </tbody>
</table>

<p style="background-color: #3D5368;color: #fff;text-align:center;height: 30px;padding-top: 10;font-size: 18;">Applicant Details</p>
<div id="sub-title" style="width:100%">
    <table class="table table-striped" style="font-size: 12px;text-align:left;" width="100%">
        <tbody>
            <tr>
                <th style="text-align:left">Registration ID.</th>
                <td>NOC20251121102258</td>
                <th style="text-align:left">Applicant Name</th>
                <td>Tanmay</td>
            </tr>
            <tr>
                <th style="text-align:left">Mobile No.</th>
                <td>1234567890</td>
                <th style="text-align:left">Email Id</th>
                <td>tanmay@gmail.com</td>
            </tr>
            <tr>
                <th style="text-align:left">Entity Type</th>
                <td>Society</td>
                <th style="text-align:left">Is Registered?</th>
                <td>YES</td>
            </tr>
            <tr>
                <th style="text-align:left">Minority Type</th>
                <td></td>
                <th style="text-align:left">Registration No</th>
                <td>REG123456</td>
            </tr>
            <tr>
                <th style="text-align:left">Registration Date</th>
                <td>29-11-2025</td>
                <th style="text-align:left">Place Of Registration</th>
                <td>New Delhi</td>
            </tr>
            <tr>
                <th colspan="4" style="background: #4D6377;color: white;font-size: 14px;">Address Details</th>
            </tr>
            <tr>
                <th style="text-align:left">Address</th>
                <td>123, XYZ Street, Sector 15</td>
                <th style="text-align:left">District</th>
                <td>Howrah</td>
            </tr>
        </tbody>
    </table>
</div>

<p style="background-color: #3D5368;color: #fff;text-align:center;height: 30px;padding-top: 10;font-size: 18;">Institution Details</p>
<div id="sub-title" style="width:100%">
    <table class="table table-striped" style="font-size: 12px;text-align:left;" width="100%">
        <tbody>
            <tr>
                <th style="text-align:left">Proposed College Name</th>
                <td>Shree Ram College of Engineering</td>
                <th style="text-align:left">Affiliated University</th>
                <td>CU</td>
            </tr>
            <tr>
                <th colspan="4" style="background: #4D6377;color: white;font-size: 14px;">Address Details</th>
            </tr>
            <tr>
                <th style="text-align:left">Address</th>
                <td>456, College Road, Sector 21</td>
                <th style="text-align:left">District</th>
                <td>Howrah</td>
            </tr>
        </tbody>
    </table>
</div>

<p style="background-color: #3D5368;color: #fff;text-align:center;height: 30px;padding-top: 10;font-size: 18;">Institution Purpose</p>
<div id="sub-title" style="width:100%">
    <table class="table table-striped" style="font-size: 12px;text-align:left;" width="100%">
        <tbody>
            <tr>
                <th style="text-align:left">Vision</th>
                <td>To be a premier institution promoting innovation and excellence in engineering education.</td>
                <th style="text-align:left">Mission</th>
                <td>To provide world-class education, foster innovation, and create socially responsible engineers.</td>
            </tr>
            <tr>
                <th colspan="4" style="background: #4D6377;color: white;font-size: 14px;">Institution Land Details</th>
            </tr>
            <tr>
                <th style="text-align:left">Mouza</th>
                <td>Mauza-A</td>
                <th style="text-align:left">JlNo</th>
                <td>159</td>
            </tr>
        </tbody>
    </table>
</div>

<p style="background-color: #3D5368;color: #fff;text-align:center;height: 30px;padding-top: 10;font-size: 18;">Campus Development Details</p>
<div id="sub-title" style="width:100%">
    <table class="table table-striped" style="font-size: 12px;text-align:left;" width="100%">
        <tbody>
            <tr>
                <th style="text-align:left">Proposed College Name</th>
                <td>Shree Ram College of Engineering</td>
                <th style="text-align:left">Affiliated University</th>
                <td>CU</td>
            </tr>
            <tr>
                <th colspan="4" style="background: #4D6377;color: white;font-size: 14px;">Library Details</th>
            </tr>
            <tr>
                <th style="text-align:left">Address</th>
                <td>456, College Road, Sector 21</td>
                <th style="text-align:left">District</th>
                <td>Howrah</td>
            </tr>
        </tbody>
    </table>
</div>

<p style="background-color: #3D5368;color: #fff;text-align:center;height: 30px;padding-top: 10;font-size: 18;">Financial Details</p>
<div id="sub-title" style="width:100%">
    <table class="table table-striped" style="font-size: 12px;text-align:left;" width="100%">
        <tbody>
            <tr>
                <th style="text-align:left">Amount</th>
                <td>200000</td>
                <th style="text-align:left">Source Of Fund</th>
                <td>Bank Loan, Trust Funds, Government Grants</td>
            </tr>
            <tr>
                <th style="text-align:left">Building Completion Status</th>
                <td>Under Construction</td>
                <th style="text-align:left">Building Completion Date</th>
                <td>29-11-2025</td>
            </tr>
        </tbody>
    </table>
</div>



<p style="background-color: #3D5368;color: #fff;text-align:center;height: 30px;padding-top: 10;font-size: 18;">Upload Documents</p>
<div id="sub-title" style="width:100%">
    <table class="table table-striped" style="font-size: 12px;text-align:left;" width="100%">
        <tbody>
            <tr>
                <th style="text-align:left">Proposal For Campus Development Program</th>
                <td><img src="https://wbscc.wb.gov.in/assets/images/green-tick.jpg" height="15px" width="15px" /></td>
                <th style="text-align:left">Experience And Expertise In Discipline</th>
                <td><img src="https://wbscc.wb.gov.in/assets/images/green-tick.jpg" height="15px" width="15px" /></td>
            </tr>
        </tbody>
    </table>
</div>

<br />
<p style="font-weight:bold; font-size: 10px;color:#800000;"><i><u>Self Declaration</u></i></p>
<p style="font-weight:bold; font-size: 8px;color:#800000;">
    <i>I Shri/ Smt Tanmay do hereby declare that I / my parents/ legal guardian/ my family have/ has been residing in the State of West Bengal since last 10 years (or more) . I further declare that the above mentioned information furnished by me correct and true my knowledge and belief.</i>
</p>