<table style="width:100%;">
    <tbody>
        <tr>
            <th style="width: 100%; text-align: center; padding-top: -5%;"><img src="{{logoPath}}" title="Emblem of India" height="70" width="70"/></th>
        </tr>
        <tr>
            <th style="width: 100%; text-align: center; font-size: 30px; color: #025C31">NOC Application</th>
        </tr>
        <tr>
            <th style="width: 100%; text-align: center; font-size: 20px; color: #135E9B">Application Details</th>
        </tr>
    </tbody>
</table>

<p style="background-color: #3D5368;color: #fff;text-align:center;font-size: 18px;">Applicant Details</p>
<div id="sub-title" style="width:100%">
    <table class="table table-striped" style="font-size: 12px;text-align:left;" width="100%">
        <tbody>
            <tr>
                <th style="text-align:left">Registration ID.</th>
                <td>{{applicantDetails["applicationId"]}}</td>
                <th style="text-align:left">Applicant Name</th>
                <td>{{applicantDetails["applicantName"]}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Mobile No.</th>
                <td>{{applicantDetails["applicantMobileNo"]}}</td>
                <th style="text-align:left">Email Id</th>
                <td>{{applicantDetails["applicantEmailId"]}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Entity Type</th>
                <td>{{applicantDetails["entityType"]}}</td>
                <th style="text-align:left">Is Minority?</th>
                <td>{{applicantDetails['isMinority']}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Minority Type</th>
                <td>{{applicantDetails['minorityType']}}</td>
                {% if(applicantDetails['isMinority']=='YES' and applicantDetails['minorityType']=='Religious') %}
                    <th style="text-align:left">Religion</th>
                    <td>{{applicantDetails["religion"]}}</td>
                {% endif %}
                {% if(applicantDetails['isMinority']=='YES' and applicantDetails['minorityType']=='Linguistic') %}
                    <th style="text-align:left">Language</th>
                    <td>{{applicantDetails["language"]}}</td>
                {% endif %}
            </tr>
             <tr>
                <th style="text-align:left">Applicant TAN No</th>
                <td>{{applicantDetails["applicantTanNo"]}}</td>
                <th style="text-align:left"></th>
                <td></td>
            </tr>
            <tr>
                <th colspan="4" style="text-decoration: underline;padding:10px;font-size:15px;">Address Details</th>
            </tr>
            <tr>
                <th style="text-align:left">Address</th>
                <td>{{applicantDetails["applicantLocation"]["applicantAddress"]}}</td>
                <th style="text-align:left">District</th>
                <td>{{applicantDetails["applicantLocation"]["district"]}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Sub Division</th>
                <td>{{applicantDetails["applicantLocation"]["subDivision"]}}</td>
                <th style="text-align:left">Police Station</th>
                <td>{{applicantDetails["applicantLocation"]["policeStation"]}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Post Office</th>
                <td>{{applicantDetails["applicantLocation"]["postOffice"]}}</td>
                <th style="text-align:left">Municipality Block</th>
                <td>{{applicantDetails["applicantLocation"]["municipalityBlock"]}}</td>
            </tr>

             <tr>
                <th style="text-align:left">city</th>
                <td>{{applicantDetails["applicantLocation"]["city"]}}</td>
                <th style="text-align:left">PIN</th>
                <td>{{applicantDetails["applicantLocation"]["pin"]}}</td>
            </tr>
        </tbody>
    </table>
</div>
    

<p style="background-color: #3D5368;color: #fff;text-align:center;font-size: 18px;">Institution Details</p>
<div id="sub-title" style="width:100%">
    <table class="table table-striped" style="font-size: 12px;text-align:left;" width="100%">
        <tbody>
            <tr>
                <th style="text-align:left">Proposed College Name</th>
                <td>{{collegeDetails["proposedCollegeName"]}}</td>
                <th style="text-align:left">Affiliated University</th>
                <td>{{collegeDetails["affiliatedUniversity"]}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Student Gender Composition</th>
                <td>{{collegeDetails["institutionFor"]}}</td>
                <th style="text-align:left"></th>
                <td></td>
            </tr>
            <tr>
                <th colspan="4" style="text-decoration: underline;padding:10px;font-size:15px;">Address Details</th>
            </tr>
            <tr>
                <th style="text-align:left">Address</th>
                <td>{{collegeDetails['collegeLocation']['collegeAddress']}}</td>
                <th style="text-align:left">District</th>
                <td>{{collegeDetails['collegeLocation']['districtId']}}</td>
            </tr>
             <tr>
                <th style="text-align:left">Sub Division</th>
                <td>{{collegeDetails['collegeLocation']['subDivisionId']}}</td>
                <th style="text-align:left">Police Station</th>
                <td>{{collegeDetails['collegeLocation']['policeStation']}}</td>
            </tr>
             <tr>
                <th style="text-align:left">Post Office</th>
                <td>{{collegeDetails['collegeLocation']['postOffice']}}</td>
                <th style="text-align:left">Gram Panchayat</th>
                <td>{{collegeDetails['collegeLocation']['gramPanchayat']}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Municipality Block</th>
                <td>{{collegeDetails['collegeLocation']['municipalityBlock']}}</td>
                <th style="text-align:left">PIN</th>
                <td>{{collegeDetails['collegeLocation']['pin']}}</td>
            </tr>
        </tbody>
    </table>
</div>


<p style="background-color: #3D5368;color: #fff;text-align:center;font-size: 18px;">Institution Purpose</p>
<div id="sub-title" style="width:100%">
    <table class="table table-striped" style="font-size: 12px;text-align:left;" width="100%">
        <tbody>
            <tr>
                <th style="text-align:left">Vision</th>
                <td colspan="3">{{institutionPurpose['aimAndObjective']['vision']}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Mission</th>
                <td colspan="3">{{institutionPurpose['aimAndObjective']['mission']}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Core Values</th>
                <td colspan="3">{{institutionPurpose['aimAndObjective']['coreValues']}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Aims</th>
                <td colspan="3">{{institutionPurpose['aimAndObjective']['aims']}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Objective Concerned Institution</th>
                <td colspan="3">{{institutionPurpose['aimAndObjective']['objectiveConcernedInstitution']}}</td>
            </tr>
            <tr>
                <th colspan="4" style="text-decoration: underline;padding:10px;font-size:15px;">Institution Land Details</th>
            </tr>

            <tr>
                <th style="text-align:left">Mouza</th>
                <td>{{institutionPurpose['collegeLandDetails']['mouza']}}</td>
                <th style="text-align:left">JlNo</th>
                <td>{{institutionPurpose['collegeLandDetails']['jlNo']}}</td>
            </tr>
            <tr>
                <th style="text-align:left">KhatianNo</th>
                <td>{{institutionPurpose['collegeLandDetails']['khatianNo']}}</td>
                <th style="text-align:left">Plot No</th>
                <td>{{institutionPurpose['collegeLandDetails']['plotNo']}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Area Clasification</th>
                <td>{{institutionPurpose['collegeLandDetails']['areaClasification']}}</td>
                <th style="text-align:left"></th>
                <td></td>
            </tr>
           
            <tr>
                <th colspan="4" style="text-decoration: underline;padding:10px;font-size:15px;">Credibility And Readiness</th>
            </tr>

            <tr>
                <th style="text-align:left">Experience In Education</th>
                <td colspan="3">{{institutionPurpose['credibilityAndReadiness']['experienceInEducation']}}</td>
            </tr>
            <tr>
                <th style="text-align:left">General Reputation</th>
                <td colspan="3">{{institutionPurpose['credibilityAndReadiness']['generalReputation']}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Readiness To Comply With Regulatory Norms</th>
                <td colspan="3">{{institutionPurpose['credibilityAndReadiness']['readinessToComplyWithRegulatoryNorms']}}</td>
            </tr>

             <tr>
                <th colspan="4" style="text-decoration: underline;padding:10px;font-size:15px;">Additional Commitments And Plans</th>
            </tr>

            <tr>
                <th style="text-align:left">Student Reservation</th>
                <td>{{institutionPurpose['additionalCommitmentsAndPlans']['studentReservation']}}</td>
                <th style="text-align:left">Employee Reservation</th>
                <td>{{institutionPurpose['additionalCommitmentsAndPlans']['employeeReservation']}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Special Skill Development Activity</th>
                <td>{{institutionPurpose['additionalCommitmentsAndPlans']['specialSkillDevelopmentActivity']}}</td>
                <th style="text-align:left">Academic Auditing Plans</th>
                <td>{{institutionPurpose['additionalCommitmentsAndPlans']['academicAuditingPlans']}}</td>
            </tr>
        </tbody>
    </table>
</div>

<p style="background-color: #3D5368;color: #fff;text-align:center;font-size: 18px;">Campus Development Details</p>
<div id="sub-title" style="width:100%">
    <table class="table table-striped" style="font-size: 12px;text-align:left;" width="100%">
        <tbody>

            <tr>
                <th style="text-align:left">totalBuildUpArea</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['approvedPlanWith']['totalBuildUpArea']}}</td>
                <th style="text-align:left">groundFloorArea</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['approvedPlanWith']['groundFloorArea']}}</td>
            </tr>
             <tr>
                <th style="text-align:left">firstFloorArea</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['approvedPlanWith']['firstFloorArea']}}</td>
            </tr>

            <tr>
                <th colspan="4" style="text-decoration: underline;padding:10px;font-size:15px;">Total Number Of</th>
            </tr>
            <tr>
                <th style="text-align:left">Class Room Count</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['totalNumberOf']['classRoomCount']}}</td>
                <th style="text-align:left">Seminar Room Count</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['totalNumberOf']['seminarRoomCount']}}</td>
            </tr>

             <tr>
                <th style="text-align:left">Multipurpose Hall Count</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['totalNumberOf']['multipurposeHallCount']}}</td>
                <th style="text-align:left">Lab Resource Center Count</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['totalNumberOf']['labResourceCenterCount']}}</td>
            </tr>
             <tr>
                <th style="text-align:left">ICT EduTech Lab Count</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['totalNumberOf']['ictEduTechLabCount']}}</td>
                <th style="text-align:left">Language Lab Count</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['totalNumberOf']['languageLabCount']}}</td>
            </tr>
             <tr>
                <th style="text-align:left">Store Room Count</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['totalNumberOf']['storeRoomCount']}}</td>
                <th style="text-align:left">Boys CommonRoom Count</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['totalNumberOf']['boysCommonRoomCount']}}</td>
            </tr>
             <tr>
                <th style="text-align:left">Girls Common Room Count</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['totalNumberOf']['girlsCommonRoomCount']}}</td>
                <th style="text-align:left">Boys Toilet Count</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['totalNumberOf']['boysToiletCount']}}</td>
            </tr>
             <tr>
                <th style="text-align:left">Girls Toilet Count</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['totalNumberOf']['girlsToiletCount']}}</td>
                <th style="text-align:left"></th>
                <td></td>
            </tr>
            <tr>
                <th colspan="4" style="text-decoration: underline;padding:10px;font-size:15px;">Any Other Room</th>
            </tr>
            <tr>
                <th style="text-align:left">Conferrence Room Status</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['anyOtherRoom']['conferrenceRoomStatus']}}</td>
                <th style="text-align:left">Meeting Room Status</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['anyOtherRoom']['meetingRoomStatus']}}</td>
            </tr>

            <tr>
                <th colspan="4" style="text-decoration: underline;padding:10px;font-size:15px;">Library Details</th>
            </tr>
            <tr>
                <th style="text-align:left">Total Space</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['libraryDetails']['totalSpace']}}</td>
                <th style="text-align:left">Reading Room Count</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['libraryDetails']['readingRoomCount']}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Books Count</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['libraryDetails']['booksCount']}}</td>
                <th style="text-align:left">Journal Periodical Count</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['libraryDetails']['journalPeriodicalCount']}}</td>
            </tr>
            <hr>
            <tr>
                <th style="text-align:left">Administrative Office Status</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['administrativeOfficeStatus']}}</td>
                <th style="text-align:left">Total Planned Construction</th>
                <td>{{campusDevelopment['campusDevlopmentPlan']['totalPlannedConstruction']}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Comprehensive Plan</th>
                <td>{{campusDevelopment['comprehensivePlan']}}</td>
                <th style="text-align:left">College Land Area In Acres</th>
                <td>{{campusDevelopment['collegeLandAreaInAcres']}}</td>
            </tr>
            <hr>
            <tr>
                <th style="text-align:left">College Covered Area</th>
                <td>{{campusDevelopment['collegeCoveredArea']}}</td>
                <th style="text-align:left"></th>
                <td></td>
            </tr>
             <tr>
                <th colspan="4" style="text-decoration: underline;padding:10px;font-size:15px;">Land Status</th>
            </tr>
            <tr>
                <th style="text-align:left">Land Owned Status</th>
                <td>{{campusDevelopment['landStatus']['landOwnedStatus']}}</td>
                <th style="text-align:left">Land Converted For Educational Purpose Status</th>
                <td>{{campusDevelopment['landStatus']['landConvertedForEducationalPurposeStatus']}}</td>
            </tr>
             
        </tbody>
    </table>
</div>

<p style="background-color: #3D5368;color: #fff;text-align:center;font-size: 18px;">Financial Details</p>
<div id="sub-title" style="width:100%">
    <table class="table table-striped" style="font-size: 12px;text-align:left;" width="100%">
        <tbody>

            <tr>
                <th style="text-align:left">Amount</th>
                <td>{{financialDetails['projectedFundFlow']['amount']}}</td>
                <th style="text-align:left">Source Of Fund</th>
                <td>{{financialDetails['projectedFundFlow']['sourceOfFund']}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Building Completion Status</th>
                <td>{{financialDetails['buildingCompletionStatus']}}</td>
                <th style="text-align:left">Building Completion Date</th>
                <td>{{financialDetails['buildingCompletionDate']}}</td>
            </tr>
             <tr>
                <th style="text-align:left">Building Completion Expected Date</th>
                <td>{{financialDetails['buildingCompletionExpectedDate']}}</td>
                <th style="text-align:left">Building Plan Amount To Be Deposited</th>
                <td>{{financialDetails['buildingPlanAmountToBeDeposited']}}</td>
            </tr>
             <tr>
                <th style="text-align:left">Estimated Income And Expenditure For First 5 Years</th>
                <td>{{financialDetails['estimatedIncomeAndExpenditureForFirst5Years']}}</td>
                <th style="text-align:left">Initial Fund Information</th>
                <td>{{financialDetails['initialFundInformation']}}</td>
            </tr> 
            <tr>
                <th style="text-align:left">Nationalized Bank</th>
                <td>{{financialDetails['nationalizedBank']}}</td>
                <th style="text-align:left"></th>
                <td></td>
            </tr>

            <tr>
                <th colspan="4" style="text-decoration: underline;padding:10px;font-size:15px;">Synopsis</th>
            </tr>
            <tr>
                <th style="text-align:left">Proposed Investment</th>
                <td>{{financialDetails['synopsis']['proposedInvestment']}}</td>
                <th style="text-align:left">Proposed Employment</th>
                <td>{{financialDetails['synopsis']['proposedEmployment']}}</td>
            </tr>
            <tr>
                <th style="text-align:left">Professional Colleges Count Within 25 Km</th>
                <td>{{financialDetails['synopsis']['professionalCollegesCountWithin25Km']}}</td>
                <th style="text-align:left">Feeder School Count With in 15 Km</th>
                <td>{{financialDetails['synopsis']['feederSchoolCountWithin15Km']}}</td>
            </tr>
             
        </tbody>
    </table>
</div>



<p style="background-color: #3D5368;color: #fff;text-align:center;font-size: 18px;">Upload Documents</p>
<div id="sub-title" style="width:100%">
    <table class="table table-striped" style="font-size: 12px;text-align:left;" width="100%">
        <tbody>
            <tr>
                {% if(documentData['proposalForCampusDevelopmentProgram'] !='') %}
                    <th style="text-align:left;">Proposal for campus development programme to be undertaken during first five years in phased manner after commencement
                    of functioning of the self-financing college and phased outlays of capital expenditure and sources of finance for those
                    five years<br/></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['experienceAndExpertiseInDiscipline'] !='') %}
                    <th style="text-align:left">The experience and expertise in the concerned discipline<br/></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['feeStructureProposal'] !='') %}
                <th style="text-align:left">Details of proposed fee structure along with proposal of fee concession/fee exemption for the poor and physically
                handicapped students<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['endowmentFundDetails'] !='') %}
                <th style="text-align:left">Details of Endowment Fund<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['employeeAppointmentProcedure'] !='') %}
                <th style="text-align:left">Procedure to be followed for appointment of officials having requisite qualifications as well as non-teaching staff for
                the proposed college<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['extracurricularActivitiesAndPlacesDetails'] !='') %}
                <th style="text-align:left">Details of playground, auditorium and other facilities available or proposed to be created for games, sports, culture
                and extracurricular activities like NSS, NCC, Scouts and Guides etc<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['societyRegistrationCertificate'] !='') %}
                <th style="text-align:left">Certificate of Registration of Societies West Bengal ACT XXVI of 1961<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['conveyanceDeed'] !='') %}
                <th style="text-align:left">Deed of Conveyance<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['homesteadPurposeConversionApplication'] !='') %}
                <th style="text-align:left">Application for Conversion of Land for Homestead purpose<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['gripsEchallan'] !='') %}
                <th style="text-align:left">Govt of West Bengal Land & Land Reforms GRIPS eChallan<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['buildingPlan'] !='') %}
                <th style="text-align:left">Building Plan<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['proofOfFees'] !='') %}
                <th style="text-align:left">Upload the proof of fees<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['proofOfLand'] !='') %}
                <th style="text-align:left">Upload the document for the proof of land<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['phasedDevelopmentBluePrint'] !='') %}
                <th style="text-align:left">Upload the Blue-print for phased development<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['proofOfContiguousLandOwnership'] !='') %}
                <th style="text-align:left">Upload the Proof of Contiguous Land Ownership<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['otherInformation'] !='') %}
                <th style="text-align:left">Any Other Information<br /></th>
                {% endif %}
            </tr>

            <tr>
                {% if(documentData['vision'] !='') %}
                <th style="text-align:left">Vision<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['mission'] !='') %}
                <th style="text-align:left">Mission<br /></th>
                {% endif %}
            </tr><tr>
                {% if(documentData['CoreValues'] !='') %}
                <th style="text-align:left">Core Values<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['aims'] !='') %}
                <th style="text-align:left">Aims<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['objectivesOfGovernmentInstitution'] !='') %}
                <th style="text-align:left">Objectives Of Government Institution<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['khatian'] !='') %}
                <th style="text-align:left">Khatian<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['totalAreaOfLandForCollege'] !='') %}
                <th style="text-align:left">Total area of land for college<br /></th>
                {% endif %}
            </tr>
            <tr>
                {% if(documentData['applicationFeesToBeDepositedToHED'] !='') %}
                <th style="text-align:left">Application Fees to be deposited to HED<br /></th>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>

<br /><br />
<p style="font-weight:bold; font-size: 10px;color:#800000;"><i><u>Self Declaration</u></i></p>
<p style="font-weight:bold; font-size: 8px;color:#800000;">
    <i>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</i>
</p>